body {
  margin: 0;
}

header {
  background-color: #f5f5f7;
  height: 44px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
}

.header-container {
  background-color: #f5f5f7;
}

img {
  width: 16px;
  padding: 14px 0;
}

button {
  background-color: transparent;
  font-size: 11px;
  border: 0;
  padding: 0 9px;
  height: 44px;
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.equal_logo {
  display: none;
}

@media (max-width: 833px) {
  button {
    display: none;
  }
  .equal_logo {
    display: inline-block;
  }
  .apple_logo {
    margin-right: auto;
  }
  .magnifier_logo,
  .bag_logo {
    margin-right: 10px;
  }
}
