.box {
  width: 200px;
  height: 200px;
  background-color: deepskyblue;
}

@media (min-width: 768px) {
  .box {
    background-color: red;
  }
}

@media (min-width: 1024px) {
  .box {
    background-color: Black;
  }
}
