img {
  width: 108px;
}

button {
  background-color: white;
  border: 0;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 16px;
}

.login {
  color: #737373;
  float: right;
  padding: 8px 0px;
}

header {
  padding: 24px;
  margin-left: 144px;
  margin-right: 144px;
}

.firtBtn {
  margin-left: 80px;
}
